@font-face{
    font-family: "roboto-thin";
    src: url('../fonts/Roboto-Thin.ttf'),
}

@font-face{
    font-family: "roboto-bold";
    src: url('../fonts/Roboto-Bold.ttf'),
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.content {
	width: 100%;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#count {
	display: inline-block;
	color: #A2FF08;
	margin: 20px 30px 0 30px;
}

#count h1 { 
	font: 90px roboto-bold;
	font-weight: 900;
	margin: 0
}

#count h2 {
	font: 25px roboto-thin;
	font-weight: 100;
	margin: 0;
}

#increase-btn {
    background: url('../images/plus.png') left top no-repeat;
}

#increase-btn:active {
    background-image: url('../images/plus_active.png');
}

#decrease-btn {
    background: url('../images/minus.png') left top no-repeat;
}

#decrease-btn:active {
    background-image: url('../images/minus_active.png');
}

.circle-button {
	display: inline-block;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom:40px;
}