@font-face{
    font-family: "roboto-thin";
    src: url('../fonts/Roboto-Thin.ttf'),
}

@font-face{
    font-family: "roboto-bold";
    src: url('../fonts/Roboto-Bold.ttf'),
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.loading {
	color: white;
	margin: calc(50% - 15px) auto;
	text-align: center;
	font: 30px roboto-thin;
	font-weight: 100;	
}

.count {
	color: #A2FF08;
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	width: 100%;
}

.count h1 { 
	margin: 0;
	font: 90px roboto-bold;
	line-height: 0px;
	font-weight: 900;
	
	
}

.count h2 {
	font: 25px roboto-thin;
	font-weight: 100;
	line-height: 70px;
	
}

.reset {
	color: #3f3f3f;
	position: absolute;
	bottom: 30px;
	height: 30px;
	width: 110px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 15px;
	border: 1px solid #3f3f3f;
}

.reset p {
	text-align: center;
	font: 20px roboto-thin;
	color: #3f3f3f;
	font-weight: 100;
	margin: 0;
	line-height: 30px;
}

#increase-btn {
	position: absolute;
    right: 10px;
}

#increase-btn:active {
    
}

#decrease-btn {
    position: absolute;
    left: 10px;
}

#decrease-btn:active {

}

.circle-button {
	display: inline-block;
    border-radius: 50%;
    background: #3f3f3f;
    height: 70px;
    width: 70px;
    top: 50%;
	transform: translateY(-50%);
	position: relative;
	z-index: 0;
}

.circle-button:active {
	background: #6f6f6f;
}